[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "==1.4.11"
flask-restful = "*"
flask-cors = "==5.0.0"
flask-jwt-extended = "==4.6.0"
python-dotenv = "==1.0.1"
flask-bcrypt = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
